ul {
 list-style-type: none;
}

body {
  margin: 0; 
}

.octodex {
  padding: 10px;
  margin: 20px auto;
}

.octocat {
  
  margin: 10px;
  border-bottom: 1px solid grey;
  display: inline-block;
  

}

.octocat img {
  height: 300px;
  border:1px solid grey;
  width: 300px;
}

.image-footer {
  font-size: 16px;
}

.image-caption {
  float: right;
}

.image-number {
   
}

.image-number:before {
  content: "#";
}

.authors {
  float: right;

}

.authors img {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 4px;
}
